<div id="style-1" class="resize" style="margin-left: 5px;">
    <div class="force-overflow">
        <div style="font-size: 125%">
            <img src="https://gdurl.com/libV" width="100%" height="300px">
            <h2 style="color: brown;"><b>Why you should learn AI (Artificial Intelligence)?</b></h2>
            <h3 style="color: brown;">Definition of <b>AI</b></h3>
            <p>
                Generally, we can define AI as a technology that makes a computer or computer-controlled robot to
                perform tasks commonly associated with intelligent beings.
            </p>
            <h3 style="color: brown;">Why we need <b>AI</b></h3>
            <p>
                There are different reasons are there so we need AI. AI makes faster decisions than humans. Artificial
                intelligence, or AI, is a computer system which learns from the experiences it encounters. AI is used in
                different applications like Apple’s Siri, Window’s Cortana, Google’s OK Google. Using these applications
                we can communicate with the device using voice. The complete absence of emotions makes machines to think
                logically and take the right decision. But one thing we need to keep our mind is if that codded
                correctly than AI would more profitable otherwise that will make a huge loss.
            </p>
            <p>
                We know that where there are pros there are cons. So AI also has cons like AI can't think out of the
                box, make unemployment of human no sympathy etc.
            </p>
            <div id="container" style="width: 100%;height: 30px;margin-bottom: 10px;">
                <h2><b>Recent posts</b></h2>
            </div><br>
            <p style="color: blueviolet;">
                Hope you guys enjoyed the article. Keep smiling and take care.
            </p>

            <!-- Card view start Here -->
            <div class="cards-list">
                <div class="card">
                    <a class="card-img-top" [routerLink]="['/whycsharp']" routerLinkActive="router-link-active">
                        <img src="https://gdurl.com/BGN9" width="100%" height="100px">
                    </a>
                    <div class="card-body" style="margin-left: 5px;">
                        <h5 class="card-title"><b>Why C# is So Famous ?</b></h5>
                        <p class="card-text">C# is a modern object-oriented programming language developed in 2000 ......</p>
                    </div>
                </div>
                <div class="card">
                    <a class="card-img-top" [routerLink]="['/topprogrammingLanguage']"
                        routerLinkActive="router-link-active">
                        <img src="https://gdurl.com/UpDq" width="100%" height="100px">
                    </a>
                    <div class="card-body" style="margin-left: 5px;">
                        <h5 class="card-title"><b>Top 5 programinglanguages</b></h5>
                        <p class="card-text">Each and every year the technology changes regularly. As we all are in the
                            technical field, we should keep ourselves updated .......
                        </p>
                    </div>
                </div>
                <div class="card">
                    <a class="card-img-top" [routerLink]="['/CreateFileCSharp']" routerLinkActive="router-link-active">
                        <img src="https://gdurl.com/IWOZ" width="100%" height="100px">
                    </a>
                    <div class="card-body" style="margin-left: 5px;">
                        <h5 class="card-title"><b>How to create a text file in memory using C#</b></h5>
                        <p class="card-text">As we all know learning C# is simpler than other languages. C# provides the
                            facility to create a text file......</p>
                    </div>
                </div>
            </div>
            <!-- Card view End Here -->

        </div>
    </div>
</div>