html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden;
        }

        #editor {
            height: 100%;
            width: 50%;
            display: inline-block;
            border: 10px solid;
  border-image: conic-gradient(rgb(139, 139, 233),rgb(139, 139, 228)) 1;
        }

        #iframe {
            height: 100%;
            display: inline-block;
            width: 50%;
            border: 10px solid;
            margin-left: 5px;
            margin-right: 5px;
  border-image: conic-gradient(rgb(22, 22, 22),rgb(8, 8, 8)) 1;
        }

        #container {
            height: 100%;
            width: auto;
            white-space: nowrap;
            overflow: hidden;
        }