<div id="style-1" class="resize">
    <div class="force-overflow">
        <div style="margin-left: 20px;font-size: 125%">
            <h2 style="color: brown;"><b>Welcome to idleprogrammer.com Privacy Policy</b></h2>
            <p>
                This privacy policy has been compiled to raised serve those that are concerned with how their
                ‘Personally Identifiable Information’ (PII) is getting used online. PII, as utilized in USA privacy law
                and knowledge security, is information which will be used on its own or with other information to spot ,
                contact, or locate one person, or to spot a private in context. Please read our privacy policies
                carefully to urge a transparent understanding of how we collect, use, protect or otherwise handle your
                Personally Identifiable Informations in accordance with our website.
            </p>
            <h3 style="color: brown;"><b>What personal information do we collect?</b></h3>
            <p>
                When ordering or registering on our sites, you'll be asked to enter your name, email address, card
                information or other details to assist you together with your experience. Your card information passes
                through a third party gateway like PayPal meaning your details are secured and not kept on our database.
            </p>
            <h3 style="color: brown;"><b>When do we collect information?</b></h3>
            <p>
                We may use the knowledge we collect from you once you register, make a sale , check in for our
                newsletter, answer a survey or marketing communication, surf the web site , or use certain other site
                features within the following ways:
            </p>
            <ul>
                <li>To quickly process your transactions.</li>
                <li>To send periodic emails regarding your order or other products and services from our company.</li>
            </ul>
            <h3 style="color: brown;"><b>How do we protect visitor information?</b></h3>
            <p>
                Our website is scanned on a daily basis for security holes and known vulnerabilities so as to form your
                visit to our site as safe as possible.
            </p>
            <p>
                We implement a spread of security measures when a user places an order enters, submits, or accesses
                their information to take care of the security of your personal information.
            </p>
            <p>
                All transactions made by the customer are processed through a gateway provider and aren't stored or
                processed on our servers.
            </p>
            <h3 style="color: brown;"><b>Do we use ‘cookies’?</b></h3>
            <p>
                We do not use cookies for tracking purposes
            </p>
            <p>
                You can prefer to have your computer warn you whenever a cookie is being sent, otherwise you can prefer
                to close up all cookies. you can do all this through your browser (like Internet Explorer) settings.
                Each browser may be a little different, so check out your browser’s Help menu to find out the right
                thanks to modify your cookies.
            </p>
            <p>
                If you disable cookies off, some features are going to be disabled that make your site experience more
                efficient and a few of our services won't function properly.
            </p>
            <h3 style="color: brown;"><b>Google</b></h3>
            <p>
                We along side third-party vendors, like Google use first-party cookies (such because the Google
                Analytics cookies) to live site traffic.
            </p>
            <p>
                Opting out:
            </p>
            <p>
                Users can set preferences for a way Google advertises to you using the Google Ad Settings page.
                Alternatively, you'll cop out by visiting the Network Advertising initiative cop out page or permanently
                using the Google Analytics cop out Browser add on.
            </p>
            <h3 style="color: brown;"><b>How does our site handle don't track signals?</b></h3>
            <p>
                We honor don't track signals and don't track, plant cookies, or use advertising when a Do Not Track
                (DNT) browser mechanism is in situ .
            </p>
            <h3 style="color: brown;"><b>Does our site allow third-party behavioral tracking?</b></h3>
            <p>
                It’s also important to notice that we don't allow third-party behavioural tracking
            </p>
            <h3 style="color: brown;"><b>COPPA (Children Online Privacy Protection Act)</b></h3>
            <p>
                When it involves the gathering of private information from children under 13, the Children’s Online
                Privacy Protection Act (COPPA) puts parents on top of things . The Federal Trade Commission, the
                nation’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of
                internet sites and online services must do to guard children’s privacy and safety online.
            </p>
            <p>
                We don't specifically market to children under 13.
            </p>
            <h3 style="color: brown;"><b>We collect your email address in order to:</b></h3>
            <ul>
                <li>
                    Send information, answer inquiries, and/or other requests or questions.
                </li>
                <li>
                    Market to our list or still send emails to our clients after the first transaction has occurred.
                </li>
                <li>
                    <h4 style="color: brown;">
                        <b>Privacy Policy Updates</b>
                    </h4>
                    <p>
                        We reserve the right to modify this privacy policy at any time.. If we make changes to the
                        present policy we may or might not notify you, therefore you ought to review this privacy policy
                        frequently.
                    </p>
                </li>
                <h4 style="color: brown;">
                    <b>Contacting Us</b>
                </h4>
                <p>
                    If there are any questions regarding this privacy policy, you may contact us by emailing:
                    <b>mukeshbehera76@gmail.com</b>
                </p>
            </ul>
        </div>
    </div>
</div>