<div id="style-1" class="resize">
    <div class="force-overflow">
        <div style="margin-left: 20px;font-size: 125%">
            <img src="assets/Image/AboutUs/About.jpg" width="100%" height="400px">
            <h2 style="text-align: center;"><b>About Company</b></h2>
            <p>
                idleprogrammer.com originated from the idea that there exists a class of readers who respond better to
                online content and prefer to learn new skills at their own pace from the comforts of their drawing
                rooms.
            </p>
            <p>
                Content and resources provided by idleprogrammer.com are freely available and we prefer to keep it that
                way to encourage our readers to acquire as many skills as they would like. We never force our readers to
                sign up with us or
                submit their details either. No preconditions and no impediments. Simply Easy Learning!
            </p>
            <h2 style="text-align: center;"><b>Mission</b></h2>
            <p>
                Our mission is to supply Simply Easy Learning with clear, crisp, and to-the-point content on a good
                range of technical and non-technical subjects without any preconditions.
            </p>
            <h3 style="text-align: center;color: green;"><b><i>Wish you happy learning with idleprogrammer.com<span
                            style='font-size:30px;'>🙂</span></i></b>
            </h3>
        </div>
    </div>
</div>