<div id="style-1" class="resize" style="margin-left: 5px;">
    <div class="force-overflow">
        <div style="font-size: 125%">
            <div class="jumbotron">
                <img src="https://gdurl.com/BGN9" width="100%" height="150px" style="margin-top: 0px;">
                <h2><b style="color: chocolate;">Why C# is So Famous ?</b></h2>
            </div>

            <p>
                Hi readers, do you know about C# Programming Language if you know nothing about C#, no need to worry
                about that, I will tell you everything about C# language and tell you why this language is so famous.<a
                href="https://idleprogrammer.com/CSharp/envirnmentsetup" target="_blank"><b>Click here</b>
                    for full C# coruse for free.</a>
            </p>
            <p>
                C# is a modern object-oriented programming language developed in 2000 by Anders Hejlsberg at Microsoft
                as
                a rival to Java (which it is quite similar to). C#
                has grown quickly since it was first created, with extensive support from Microsoft helping it to gain a
                large following; it is now one of the most popular programming languages in the world.
            </p>
            <h3>What is a C# programming language?</h3>
            <p>
                C# language is pronounced as C sharp language. It is a modern, general-purpose, object-oriented
                programming language.if you have a basic knowledge of C and C++ language, so you can easily understand
                this language.
            </p>
            <h3>What we can do using c#?</h3>
            <p>
                We can use C# language for game development,web application,desktop application and mobile application
                as well. This
                provides exstensive libraries for development of product. In my personal openion C# language is so easy
                than java.
            </p>
            <h3>Reason behind my intrest in Coding C#</h3>
            <ul>
                <li><b>
                        <h4>IDE(integrated development environment)</h4>
                    </b>
                    <ul>
                        <li>The visual studio IDE provides Intellicence while coding, if you do anything that is not
                            suggested by the IDE that will give you error.</li>
                    </ul>
                </li>
                <li>It's relatively easy to learn and is commonly used as an alternative for Java on Windows.</li>
                <li>Has lots of features like LINQ and Lambdas</li>
            </ul>
        </div>
        <div id="container" style="width: 100%;height: 30px;margin-bottom: 10px;">
            <h2><b>Recent posts</b></h2>
        </div><br>
        <p style="color: blueviolet; font-size: 125%;">
            Hope you guys enjoyed the article. Keep smiling and take care.
        </p>

        <!-- Card view Start -->

        <div class="cards-list">
            <div class="card">
                <a class="card-img-top" [routerLink]="['/CreateFileCSharp']" routerLinkActive="router-link-active">
                    <img src="https://gdurl.com/IWOZ" width="100%" height="100px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">How to create a text file in memory using C#</h5>
                    <p class="card-text">As we all know learning C# is simpler than other languages. C# provides the
                        facility to create a text file......</p>
                </div>
            </div>
            <div class="card">
                <a class="card-img-top" [routerLink]="['/topprogrammingLanguage']"
                    routerLinkActive="router-link-active">
                    <img src="https://gdurl.com/UpDq" width="100%" height="100px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Top 5 programinglanguages</h5>
                    <p class="card-text">Each and every year the technology changes regularly. As we all are in the
                        technical field, we should keep ourselves updated .......
                    </p>
                </div>
            </div>
            <div class="card">
                <a class="card-img-top" [routerLink]="['/ai']" routerLinkActive="router-link-active">
                    <img src="https://gdurl.com/libV" width="100%" height="100px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Why you should learn AI?</h5>
                    <p class="card-text">Generally, we can define AI as a technology that makes a computer or
                        computer-controlled robot .......</p>
                </div>
            </div>
        </div>
        <!-- Card view End -->
    </div>
</div>