<div  id="style-1" class="resize" style="margin-left: 20px;margin-right: 20px;">
    <div class="force-overflow" style="margin-left: 15px;">
        <h1 style="color: brown;text-align: center;"><b><u>Setting up the environment for C#</u></b></h1>
        <p>
            <font size="+1">
                C# is a general-purpose, modern and object-oriented programming language pronounced as “C sharp”. It was
                developed by Microsoft led by Anders Hejlsberg and his team within the .Net initiative and was approved
                by
                the European Computer Manufacturers Association (ECMA) and International Standards Organization (ISO).C#
                is
                a lot similar to Java syntactically and is easy for the users who have knowledge of C, C++ or Java.
            </font>
        </p>
        <p>
            <font size="+1">
                C# is used for server-side execution for a different kind of application like web, window forms or
                console,
                etc. To use C# with your .Net application, you need two things, the .NET Framework and an IDE
                (Integrated
                Development Environment).
            </font>
        </p>
        <h3><b><u>About .NET Framework</u></b></h3>
        <div style="font-size: 125%">
            <p>
                The .NET Framework is a platform for building, deploying, and running Web Services and applications. To
                run C# applications or any program, it requires installing a .NET Framework component on the system.
                .NET also supports a lot of programming languages like Visual Basic, Visual C++, etc. And C# is one of
                the common languages which is included in the .NET Framework. It is consist of two basic
                components:<br><br>
                <span class="glyphicon glyphicon-triangle-right">
                    <b>Common Language Runtime (CLR):</b>
                </span>
                Common Language Runtime (CLR) is a managed execution environment that is part of Microsoft’s .NET
                framework. CLR manages the execution of programs written in different supported languages.

                CLR transforms source code into a form of bytecode known as Common Intermediate Language (CIL). At run
                time, CLR handles the execution of the CIL code.<br><br>
                <span class="glyphicon glyphicon-triangle-right">
                    <b>Framework Class Library(FCL):</b>
                </span>
                Microsoft has provided an IDE(Integrated Development Environment) tool named Visual Studio to develop
                applications using different programming languages such as C#, VB(Visual Basic) etc. To install and use
                Visual Studio for the commercial purpose it must buy a license from Microsoft. For learning
                (non-commercial) purpose, Microsoft provided a free Visual Studio Community Version.
                For
                more information
                visit <a
                    href="https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies?redirectedfrom=MSDN"
                    target="_blank"> here</a>.<br><br>
                <b>Step 1</b>: Download the <a href="https://visualstudio.microsoft.com/downloads/"
                    target="-blank">Visual
                    Studio Community Version</a><br><br>
                <b>Step 2</b>: Run the .exe file and follow the instructions to install Visual Studio Community Version
                on the
                system.<br><br>
                <b>Step 3</b>: Select .Net Desktop Development from the options and click to install/Modify in bottom
                right corne<br><br>
                <b>Step 4</b>: The dialog box will appear for first time only and ask to choose Development Settings and
                color theme.select the theme you like, click on Start Visual Studio option.<br><br>
                <b>Step 5</b>: To create a new console application using C#, Go to File –> New –>Project.->search for
                console app using .Net Framework-> select that->give a name to your project and click ok.<br><br>
                <b>Step 6</b>: After clicking OK a predefined template will come and start writing C# code.
            </p>
        </div>
    </div>
    <div>
        <button class="btn btn-success"style="float: right;" (click)="next()">Next</button>
    </div>
</div>