/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
} */

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
}




