<div id="style-1" class="resize">
    <div class="force-overflow" style="margin-left: 15px;margin-bottom: 20px ;font-size: 125%">
        <h2 style="text-align: center;color: brown;">Envirnment SetUp</h2>
        <hr>
        <p>
            As we are going to set up the our envirnment to execute C programming we should have some basic knowledge
            about the editors and compiler.
        </p>
        <b>Text Editors</b>
        <p>
            Text editors are generaly used to type our code and save them as per their extensions.
            Text editors can vary depending upon your OS, We can say that Notepad is a product from Microsoft so that
            can be used in Windows only, like that you can choose your editor based on your OS.
            <br>
            ex- Notepad,Notepad++,VSCode etc
        </p>
        <b>C Compiler</b>
        <p>
            As we all know computer only understand 0 & 1 so what ever we have written in the editor that needs to be be
            "compiled", into machine language so that your CPU can actually execute the program as per the instructions
            given.
            Keep in mind that what ever we write in the editor needs to follow the syntax of that programming language
            otherwise that is going to give you error messages.
        </p>
        <b>C Installation</b>
        <p>
            There are lots of compilers are available to execute c and c++, So only thing you need to do is to download
            one of them and install it in your System and you are ready to go.
        </p>
        <p>
            To download Turbo c++ you can just type "download turbo c++" on google and you will find lots of website to
            download, just download and install the exe file. The installation proccess is so simple like clicking
            next-next button.
        </p>
        <p>Another way is just go and download the <a href="https://code.visualstudio.com/download"
                target="_blank">Visual studio
                code</a> after download just install this.<br>
            After installation just open it by double cliking it.<br>
            Click on the extension button that can be found on the left side.<br>
            In the extension search box type "C/C++" and press enter<br>
            You can find a extension there from Microsoft just clik install<br>
            Now create a new file using comand "control+n" for Windows and "commad+n" for mac and than press "control+s"
            for windows and "command+s" for mac to save the file with a file name and the extension should be .c for C
            or .cpp for C++<br>
            ex: filename.c/filename.cpp
        </p>
        <p>
            Now you are ready to code in c.
        </p>
        <div style="text-align: center;">
            <span style='font-size:100px;'>🙂</span>
        </div>
    </div>

    <button class="btn btn-success" style="float: left;" (click)="Previouspage()">Previous page</button>
    <button class="btn btn-success" style="float: right;" (click)="Nextpage()">Next page</button>
</div>