<app-navigation-bar></app-navigation-bar>
<footer class="mainfooter" role="contentinfo" style="margin-left: auto">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-pad">
                        <div style="font-size: 20px;overflow: hidden;">
                            <p class="navbar-text" style="text-transform: uppercase;text-align: center;"><b><span style="color: black;">idle</span><span style="color: rgb(210, 238, 53);">programmer</span></b></p> 
                          </div>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/aboutUs']" routerLinkActive="router-link-active">About Us</a></li>
                            <li><a [routerLink]="['/disclaimer']" routerLinkActive="router-link-active">Disclaimer</a>
                            </li>
                            <li><a [routerLink]="['/policy']" routerLinkActive="router-link-active">Privacy
                                    Policy</a>
                            </li>
                            <li>
                                <a href="https://idleprogrammer.com/sitemap.xml">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="">
                                <img src="assets/Image/SocialMediaIcons/facebook.webp"
                                    style="width: 50px;height: 50px;padding: 10px;" title="Facebook">
                            </a>
                        </li>
                        <li><a href="">
                                <img src="assets/Image/SocialMediaIcons/twiter.webp"
                                    style="width: 50px;height: 50px;padding: 10px;" title="Twitter">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <a href="https://icons8.com" target="_blank">Thank you Icons8</a>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - idleprogrammer. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
  </footer>