<div id="style-1" class="resize">
    <div class="force-overflow" style="margin-left: 15px;margin-bottom: 20px ;font-size: 125%">
        <h2 style="text-align: center;color: brown;"><b>Introduction to C language</b></h2>
        <h3 style="color: brown;">What is c?</h3>
        <p>
            C is a programing language developed at AT & T's Bell Laboratories of USA in 1972. It was designed by sir
            Dennis Ritchie.
        </p>
        <div>
            <img src="assets/Image/C/Dennis_Ritchie.jpg" alt="Dennis" class="center">
            <span class="center">Image<a
                    href="https://en.wikipedia.org/wiki/Dennis_Ritchie#/media/File:Dennis_Ritchie_2011.jpg"
                    target="_blank"> credit</a></span>
            <p>
                C programming is a basic programming language that you should learn to proceed further for
                other programming languages.
                This language was so popular and was beginning to replace the more familiar languages of that time like
                PL/I, ALGOL, etc..
                This language is so popular because it is reliable,simple and easy to use.
            </p>
            <h2 style="color: brown;">Key Applications where C is used</h2>
            <ul>
                <li>
                    It is used to develop an operating system. There are some popular operating systems are there those
                    are developed using "C" language such as Windows and Apple's OS X, etc.. It is used for developing
                    desktop as well as a mobile phone operating system.
                </li>
                <li>
                    It is used for compiler development.
                </li>
                <li>'C' language is widely used in embedded systems.</li>
                <li>It is widely used in IOT applications.</li>
                <li>It is used to develop databases. MySQL is the most popular database software which is developed
                    using
                    'C'.</li>
                <li>
                    Most of the applications by Adobe are developed using 'C' programming language.
                </li>
            </ul>
        </div>

    </div>
    
    <button class="btn btn-success" style="float: right;" (click)="Nextpage()">Next page</button>


</div>