
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$programingwizard-primary:mat-palette($mat-light-blue);
$programingwizard-accent:  mat-palette($mat-light-green);
$programingwizard-warn: mat-palette($mat-red);
$programingwizard-theme: mat-light-theme($programingwizard-primary, $programingwizard-accent, $programingwizard-warn);
@include angular-material-theme($programingwizard-theme);
// For Dark Theme
$Programingwizard-primary-dark: mat-palette($mat-orange);
$Programingwizard-accent-dark: mat-palette($mat-yellow);
$Programingwizard-warn-dark: mat-palette($mat-red);
$Programingwizard-theme-dark: mat-dark-theme($Programingwizard-primary-dark, $Programingwizard-accent-dark, $Programingwizard-warn-dark);
.dark-theme-mode{
    @include angular-material-theme($Programingwizard-theme-dark);
}


