<div id="style-1" class="resize" style="margin-left: 5px;">
    <div class="force-overflow">
        <div style="font-size: 125%">
            <div class="jumbotron">
                <img src="https://gdurl.com/UpDq" width="100%" height="150px"
                    style="margin-top: 0px;">
                <h2><b style="color: chocolate;">Top 5 programing languages</b></h2>
            </div>
            <p>
                Each and every year the technology changes regularly. As we all are in the technical field, we should
                keep ourselves updated with the updated technology.
            </p>
            <p>
                There are different programming languages are there those changes the mind of a developer and is
                attracted towards it and also a developer always choose a programing language which provide a bulk of
                inbuilt libraries.There are around 600 programming languages out there. The demand and popularity of
                programming languages fluctuate every year. Also, new programming languages are coming with attractive
                features.
            </p>
            <p>Lets discuss about popular programing languages :</p>
            <img src="assets/Image/Articles/barprograming.png" width="100%" height="350px" style="margin-top: 0px;">
            <span> image Credit <a href="http://pypl.github.io/PYPL.html" target="_blank">Source</a></span>
            <p>
                As you can see in the above picture Python is now most popular programing language. so lets discuss
                about top 5 programing languages in 2020.
            </p>
            <h3><b>Python :</b></h3>
            <p>
                The software development companies prefer Python language because of its versatile features and fewer
                programming codes. Nearly 14% of the programmers use it on the operating systems like UNIX, Linux,
                Windows and Mac OS.
                It’s possible to create pretty much anything in Python. Plus, it’s also used to create neural networks
                for artificial intelligence. Part of this is due to the vast standard library, but also because it’s
                compatible with most major systems and databases. Python language comes with quite simple syntax that is
                easy to read.
            </p>
            <h3><b>Java :</b></h3>
            <p>
                Java is object oriented means it follows a programming style that includes concepts such as class,
                object, inheritance, etc. This enhances the coding structure making Java highly relatable.Java is open
                source meaning there is no requirement to write a code from the scratch. The source code is made
                available for the developers so that they could redistribute the same and use the code as per their
                requirements.The programming language is platform independent for different OS and that is why it is
                majorly liked by developers irrespective of the respective operating system
            </p>
            <h3><b>JavaScript :</b></h3>
            <p>
                javascript is very fast because it is often run immediately within the client's browser. It is easy to
                learn. you need not to do anything set up to run javascript code. it’s built right into the web browser!
                Just start writing code and see the results immediately in your browser. It is easy to integrate with
                the html page. This is treated as a soul of an html page
            </p>
            <h3><b>C# :</b></h3>
            <p>
                C# is pronounced as C Sharp.C# is a new language created by Microsoft and submitted to the ECMA for
                standardization. This is also a popular object oriented programming language. C sharp
                programming language is very easy to learn if you have some knowledge in c/c++/Java. This is quite
                similar to Java.
            </p>
            <h3><b>PHP :</b></h3>
            <p>
                PHP is popular because of its speed. PHP language takes less time to load. PHP solves cross platform
                issues. This is easy to learn and runs efficiently on the server side. This is robust and compatible
                with almost all servers used today.PHP has many Frameworks that actually utilises the MVC patterns.
            </p>
            <div id="container" style="width: 100%;height: 30px;margin-bottom: 10px;">
                <h2><b>Recent posts</b></h2>
            </div><br>
            <p style="color: blueviolet;">
                Hope you guys enjoyed the article. Keep smiling and take care.
            </p>
     <!-- Card view start Here -->
     <div class="cards-list">
        <div class="card">
            <a class="card-img-top" [routerLink]="['/whycsharp']" routerLinkActive="router-link-active">
                <img src="https://gdurl.com/BGN9" width="100%" height="100px">
            </a>
            <div class="card-body">
                <h5 class="card-title">Why C# is So Famous ?</h5>
                <p class="card-text">C# is a modern object-oriented programming language developed in 2000 by Anders
                    Hejlsberg at Microsoft as a rival to Java......</p>
            </div>
        </div>
        <div class="card">
            <a class="card-img-top" [routerLink]="['/CreateFileCSharp']" routerLinkActive="router-link-active">
                <img src="https://gdurl.com/IWOZ" width="100%" height="100px">
            </a>
            <div class="card-body">
                <h5 class="card-title">How to create a text file in memory using C#</h5>
                <p class="card-text">As we all know learning C# is simpler than other languages. C# provides the
                    facility to create a text file......</p>
            </div>
        </div>
        <div class="card">
            <a class="card-img-top" [routerLink]="['/ai']" routerLinkActive="router-link-active">
                <img src="https://gdurl.com/libV" width="100%" height="100px">
            </a>
            <div class="card-body">
                <h5 class="card-title">Why you should learn AI?</h5>
                <p class="card-text">Generally, we can define AI as a technology that makes a computer or
                    computer-controlled robot .......</p>
            </div>
        </div>
    </div>
     <!-- Card view End Here -->

        </div>
    </div>